<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9IYbZR4HwALg6aYnh_v8MctozZet6bsg</string>
	<key>GCM_SENDER_ID</key>
	<string>753334474052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiceApp</string>
	<key>PROJECT_ID</key>
	<string>communitrade-449ae</string>
	<key>STORAGE_BUCKET</key>
	<string>communitrade-449ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753334474052:ios:bd6cdcd9d3e3d646823311</string>
</dict>
</plist>